<style>
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
</style>

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: raleway;
}

body {
    padding: 10px;
    background-color: #111;
    color: whitesmoke;
}

html {
    scroll-behavior: smooth;
}

header {
    position: sticky;
    backdrop-filter: blur(5px);
    top: 10px;
    left: 10px;
    right: 10px;
    border-radius: 5px;
    background-color: #1a1a1a;
    height: 60px;
    padding: 0 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile img {
    width: 30px;
    border-radius: 50%;
}


.routine {
    background-color: #1a1a1a;
    margin-top: 10px;
    border-radius: 5px;
    padding: 10px;
}

.tasks {
    background-color: #111;
    border-radius: 5px;
    margin-top: 10px;
    padding: 10px;
}

.tasks ul li {
    margin-left: 30px;
}

.budget {
    background-color: #1a1a1a;
    margin-top: 10px;
    border-radius: 5px;
    padding: 10px;
}

.income {
    background-color: #111;
    border-radius: 5px;
    margin-top: 10px;
    padding: 10px;
}

.income ul li {
    margin-left: 30px;
}

.spending {
    background-color: #111;
    border-radius: 5px;
    margin-top: 10px;
    padding: 10px;
}

.spending ul li {
    margin-left: 30px;
}

.yourName {
    display: inline-block;
    margin-left: 8%;
}

.space {
    margin-left: 25%;
    font-size: 13px;
    display: inline-block;
}

footer {
    position: sticky;
    backdrop-filter: blur(5px);
    bottom: 10px;
    left: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1a1a1a;
    margin-top: 10px;
    border-radius: 5px;
    padding: 10px;
}
